enable-pre-post-scripts=true
enable-scripts-prepare=true
strict-peer-dependencies=false
auto-install-peers=true
hoist-pattern[]=*
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*@esbuild*
public-hoist-pattern[]=*cpu-features*
public-hoist-pattern[]=*ssh2*
public-hoist-pattern[]=*nan*
public-hoist-pattern[]=*protobufjs*
package-import-method=copy
prefer-symlinked-executables=false
